<link rel="stylesheet" href="/css/styles.css">
<body>

    <h2>Home</h2>
    <hr>
    <h3>Cars</h3>

    <% cars.forEach(function(car) { %>
        <li><a href="/detail?name=<%= car.name %>"> <p><%= car.name %> $:<%= car.price %></p></li>
    <% }); %>

</body>
