<html>
<head>
    <title>Home Page</title>

    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>

<body>

<div id="root"></div>
<script type="text/babel">

    const items = <%- cars %>;
    console.log(items)

    // define other components

class CarRow extends React.Component {
  constructor(props) {
    super(props);
  }

  render() {
    const car = this.props.car;
    const name = car.name;
    const url = "/detail?name=" + name;

    return (
      <tr>
        <td><a href={url}>{name}</a></td>
      </tr>
    );
  }
}

class CarTable extends React.Component {
  constructor(props) {
    super(props);
  }

  render() {
    const rows = [];

    this.props.cars.forEach((car) => {
      rows.push(
        <CarRow
          car={car}
          key={car._id}
        />
      );
    });

    return (
      <table>
        <thead>
          <tr>
            <th>Car Name</th>
          </tr>
        </thead>
        <tbody>{rows}</tbody>
      </table>
    );
  }
}

class CarList extends React.Component {
  constructor(props) {
    super(props);
  }

  render() {
    return (
      <div>
        <CarTable
          cars={this.props.cars}
        />
      </div>
    );
  }
}

ReactDOM.render(<CarList cars={items} />, document.getElementById('root'));

</script>
</body>
</html>